<div class="modal-overlay">
  <div class="modal">
    <h2>Hello!</h2>
    <p>Here is the overall navigation of the application illustrated as a graph.</p>
    <img class="state-image" src="assets/images/state.png" alt="">
    <p></p>
    <p>You can choose between 2 section 'routing' and 'queueing'</p>
    <p>
      In the routing section you will be able to find the chargers you need for your journey.
      Just enter information in all of the inputs and choose one of 3 algorithms
    </p>
    <button (click)="closeModal()">Close</button>
  </div>
</div>
